.home-container{
    display: flex;
    display: inline-block;
    justify-content: center;
}
form{
    display: flex;
    margin: 15px;
    gap: 10px;
}
button{
    background-color: rgb(143, 72, 47);
    padding: 0 5px;
}