.home-container{
    background-color: white;
    height: 100vh;
    display: flex;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 50% 0;
}
form{
    display: flex;
    margin: 15px;
    gap: 10px;
}
h1{
    color: red;
}
button{
    background-color: red;
    padding: 0 5px;
    color: white;
}

