.poke-card-container{
    overflow: hidden;
    border-radius: 25px;
    
}
.poke-card-container:hover{
    box-shadow: 3px 3px 8px #000000, -3px -3px 8px #000000;
}
.poke-card{
    background-color: white;
    border: 5px solid;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
    gap: 5px;
    position: relative;
    transition-property: transform;
    transition-duration: 650ms
}
.poke-card:hover{
  transform: scale(1.1);
}
.poke-card div{
   position: absolute;
  
   width: 100%;
   height: 100px;
   border-radius: 20px 20px 0 0;
   
}
.poke-card figure{
    position: relative;
    
    z-index: 10;
}
.poke-card figure .pokecard-image{
    width: 300px;
}
.poke-types{
    display: flex;
    gap: 5px;
}
.poke-card hr{
  width: 85%;
}
.poke-stats{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 15px;
    width: 85%;
    gap: 10px;
    
}
.poke-stats li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slot2::before{
    content: "/ ";
}

.grass{
    background-color: green;
}
.fire{
    background-color: red;
}
.water{
    background-color: skyblue;
}
.bug{
    background-color: lightgreen;
}
.normal{
    background-color: sienna;
}
.dark{
    background-color: #000000;
}
.rock{
    background-color: gray;
}
.fighting{
    background-color: rgb(168, 70, 45);
}
.ground{
    background-color: rgb(113, 73, 14);
}
.ghost{
    background-color:rgb(59, 62, 130) ;
}
.electric{
    background-color:rgb(26, 33, 152) ;
}
.steel{
    background-color: rgb(102, 124, 116);
}
.psychic{
    background-color: rgb(102, 124, 116);
}
.ice{
   background-color: skyblue; 
}
.dragon{
    background-color: orangered;
}
.fairy{
    background-color: pink;
}
.poison{
    background-color: rgb(112, 64, 159);
}
.flying{
    background-color: rgb(77, 148, 158);
}